@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"> 
    <h1 class="alert-light">Password Generator </h1>
    <br />
    <p>Below is your new Password</p>
    <br />

    <h3>@ViewBag.responseCall</h3> 
    
    <br />
    <br />
    <p> refresh the page to generate a new one</p>
</div>
