@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"> 
    <h1 class="alert-light">Password Generator </h1>
    <br />
    <p>Below is your new Password</p>
    <br />

    <h3>@ViewBag.responseCall</h3> 

    <br />
    <br />
    <p> Refresh the page for a new Password </p>
    <div class=" = "text-secondary">
        <style>
            body {background-color:lightslategray;}
        </style>
    </div>
</div>
